.page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
  min-height: 90vh;
}

.page-form {
  max-width: 500px;
}

.page-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-image img {
  width: 350px;
  max-width: 100%;
}
