
.page {
  width: 100vw;
  min-height: calc(100vh - 56px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  overflow-x: hidden;
}

.page-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-form {
  padding: 40px;
  max-width: 500px;
}

@media (max-width: 768px) {
  .page {
    grid-template-columns: 1fr;
  }

  .page-image {
    display: none;
  }
}
